<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/Geolocation.css') }}">
<script>
     
</script>
</head>
<body>
<form class="locationform"  method="post">
        <p>이름<input type="text" id="name" placeholder="입력해주세요."></p>
        <p>핸드폰 번호<input type="text" id="phone" placeholder=" - 없이 입력해주세요." > </p>
 
        <button type="button" id="btnStart"> 확인 </button>
        <button id="btnStop" type="button" > end </button> 
        <!-- 
        위도:<span id="x"></span>
        경도:<span id="y"></span>
      -->
</form> 
    

    
<script src="http://code.jquery.com/jquery-1.11.0.js"></script>
<script src="{{ url_for('static', filename='js/Geolocation.js') }}"></script>
</body>
</html> 