<!DOCTYPE html>
<html>
<head>
    <title>Flask Template</title>
</head>
<body>
    <h1>Welcome to Flask!</h1>
    <a href="/Geolocation">사용자위치 확인용</a>
    <a href="/locationManagement">locationManagement 이동</a>
    <a href="/a">a 이동</a>
    <a href="/member">member 이동</a>
    <a href="/homeLED">homeLED 이동</a>

    <form method="POST" action="/insert">
        <label for="name">이름</label>
        <input type="text" name="name" id="name">
        <button type="submit">제출</button>
    </form>
</body>
</html>