<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

	<!-- css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/locationManagement.css') }}">

</head>
<body>
	<div id="hospitalCheck">
		<select id="cityDataSelect">
		</select>
			<input id="hospital" name="hospital" type="text" placeholder="병원 정보를 입력하세요">
			<button id="hospital-check-btn" type="button">확인</button>
	</div>

	<div id="hospitalListBox" class="initial-disnone">
		<ul id="hospitalList">

		</ul>
	</div>

	<header class="initial-disnone">
		<div id="logoBox">로고</div>
		<div id="hospitalNameBox"></div>
		<div id="accountBox">계정 관련</div>
	</header>

	<div class="initial-disnone">
		<div id="contentsWrap">
			<div id="listWrap">
				<div id="searchBox">
					<input type="text">
					<button type="button">검색하기</button>
					<button id="focusResetBtn" type="button">포커싱 리셋</button>
				</div>
				<div id="customerList">
					<ul id="customerListUl">
					</ul>
				</div>
				
				
			</div>
			
			<div id="mapWrap">
				<div id="map" style="width: 100%;height: 100%;"></div>
			</div>
		</div>
	</div>
	
	
	<!-- 스크립트 -->
	<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{KAKAOMAP_API_KEY}}"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="{{ url_for('static', filename='js/locationManagement.js') }}"></script>

</body>
</html>